:root {
  color-scheme: light dark;
  font-family: "IBM Plex Sans JP", "Hiragino Sans", sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
